@import "config";
@import "menu";

* {
  box-sizing: border-box; //selects the whole page using box model.
}

body {
  @include background();
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba (lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%; Not sticky footer.
  min-height: calc(100vh - 40px); //Sticky footer. Main height - footer height.

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut; //calls the mixin easeOut.
      }
    }
  }

  &#home {
    overflow: hidden; //No scroll bar.
    h1 {
      margin-top: 20vh; //vh = viewport height.
    }
  }
}

//About me page.

.about-main-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.bioimage {
  grid-area: bioimage;
  margin: auto;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}

.job-3 {
  grid-area: job3;
}

//boxes in about me page.

.jobs {
  background: lighten($primary-color, 5);
  padding: 1rem;
  border-bottom: $secondary-color 5px solid;
  border-radius: 2%;
}

//Portfolio

.apps {
  display: grid;
  grid-gap: 4.5rem;
  margin: auto;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
}

//Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color ($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 10);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}
//subfooter
#bottom {
  background: lighten($primary-color, 15);
  display: flex;

  .logo {
    width: 33%;
    padding: 15px;
  }
  .bottom-icons {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  & a:hover {
    color: $secondary-color;
    @include easeOut();
  }

  .subfooter {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
}

#footer {
  text-align: center;
  padding: 0.5rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 40px;
}
@import "mobile";
